.box-product{
    background-color: rgba(255, 255, 255, 0.75) !important;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.46);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.46);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.46);
    -webkit-transition: background-color 1s; /* Safari prior 6.1 */
    transition: background-color 1s;
}
.box-product:hover{
    background-color: rgba(255, 255, 255, 1) !important;
}
.title-product{
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-transform: uppercase;
    min-height: 48px;
    font-weight: 500;
}
.description-product,
.description-product>p{
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-align: justify;
}
.description-product>p{
    min-height: 72px;
}
.description-product>p:first-child ~ p{
    display: none;
}